In [47]:
import pandas as pd
pd.set_option('display.max_columns', None)  # Shows all columns
pd.set_option('display.width', None)  # Shows full width
pd.set_option('display.max_colwidth', None) # Shows full content of the columns

In [30]:
df = pd.read_csv('FAANG.csv')

In [12]:
df.isnull().sum()

Company                                      0
Ticker                                       0
Date                                         0
Open                                         0
High                                         0
Low                                          0
Close                                        0
Adj Close                                    0
Volume                                       0
Market Cap                                   0
PE Ratio                                     0
Beta                                      4982
EPS                                          0
Forward PE                                   0
Revenue                                  23055
Gross Profit                             23055
Operating Income                         23055
Net Income                                   0
Debt to Equity                               0
Return on Equity (ROE)                       0
Current Ratio                                0
Dividends Paid                            9964
Dividend Yield                            9964
Quarterly Revenue Growth                     0
Analyst Recommendation                       0
Target Price                                 0
Free Cash Flow                               0
Operating Margin                             0
Profit Margin                                0
Cash Ratio                               23055
Quick Ratio                                  0
Price to Book Ratio                          0
Enterprise Value                             0
Total Debt                                   0
Total Assets                             23055
Total Equity                             23055
Beta (5Y)                                 4982
Annual Dividend Rate                      9964
Trailing Twelve Months (TTM) Revenue     23055
Trailing Twelve Months (TTM) EBITDA      23055
Trailing Twelve Months (TTM) Earnings    23055
dtype: int64

In [14]:
pd.DataFrame(df[df.columns[df.isnull().sum() != 0]].isnull().sum())

                                           0
Beta                                    4982
Revenue                                23055
Gross Profit                           23055
Operating Income                       23055
Dividends Paid                          9964
Dividend Yield                          9964
Cash Ratio                             23055
Total Assets                           23055
Total Equity                           23055
Beta (5Y)                               4982
Annual Dividend Rate                    9964
Trailing Twelve Months (TTM) Revenue   23055
Trailing Twelve Months (TTM) EBITDA    23055
Trailing Twelve Months (TTM) Earnings  23055

In [19]:
len(df.columns)

41

In [36]:
dd =df.dropna(axis=1, thresh=int(df.shape[0] * 0.5))  # Keep columns with at least 50% data

In [37]:
df.shape

(23055, 41)

In [38]:
dd.shape # without code 14 columns were dropped and with code 9 columns were dropped

(23055, 32)

In [33]:
df.columns

Index(['Company', 'Ticker', 'Date', 'Open', 'High', 'Low', 'Close',
       'Adj Close', 'Volume', 'Market Cap', 'PE Ratio', 'Beta', 'EPS',
       'Forward PE', 'Revenue', 'Gross Profit', 'Operating Income',
       'Net Income', 'Debt to Equity', 'Return on Equity (ROE)',
       'Current Ratio', 'Dividends Paid', 'Dividend Yield',
       'Quarterly Revenue Growth', 'Analyst Recommendation', 'Target Price',
       'Free Cash Flow', 'Operating Margin', 'Profit Margin', 'Cash Ratio',
       'Quick Ratio', 'Price to Book Ratio', 'Enterprise Value', 'Total Debt',
       'Total Assets', 'Total Equity', 'Beta (5Y)', 'Annual Dividend Rate',
       'Trailing Twelve Months (TTM) Revenue',
       'Trailing Twelve Months (TTM) EBITDA',
       'Trailing Twelve Months (TTM) Earnings'],
      dtype='object')

In [34]:
dd.columns

Index(['Company', 'Ticker', 'Date', 'Open', 'High', 'Low', 'Close',
       'Adj Close', 'Volume', 'Market Cap', 'PE Ratio', 'EPS', 'Forward PE',
       'Net Income', 'Debt to Equity', 'Return on Equity (ROE)',
       'Current Ratio', 'Quarterly Revenue Growth', 'Analyst Recommendation',
       'Target Price', 'Free Cash Flow', 'Operating Margin', 'Profit Margin',
       'Quick Ratio', 'Price to Book Ratio', 'Enterprise Value', 'Total Debt'],
      dtype='object')

In [ ]:
df.isnull().sum()

df = df.dropna(axis=1, thresh=int(df.shape[0]*0.9))  # Drop columns with more than 10% missing values

if 'Revenue' in df.columns:
	df['Revenue'] = df['Revenue'].fillna(df['Revenue'].median())
else:
	print("Column 'Revenue' does not exist in the dataframe.")

Column 'Revenue' does not exist in the dataframe.

In [48]:
dd[dd['Date'] == '10/17/2024']

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Dividends Paid,Dividend Yield,Quarterly Revenue Growth,Analyst Recommendation,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Beta (5Y),Annual Dividend Rate
4981,Apple,AAPL,10/17/2024,233.429993,233.850006,230.520004,232.149994,232.149994,32978900,3.580000e+12,35.789955,1.239,6.57,31.435830,1.020000e+11,151.862,1.60583,0.953,0.25,0.0043,0.049,buy,240.78,86158123008,0.29556,0.26441,0.798,53.660430,3.570000e+12,1.010000e+11,1.239,1.0
8106,Facebook,META,10/17/2024,583.330017,584.969971,575.200012,576.929993,576.929993,8687000,1.470000e+12,29.612986,1.216,19.56,23.738934,5.143400e+10,24.235,0.35375,2.830,0.50,0.0035,0.221,buy,601.58,32011874304,0.38105,0.34339,2.688,9.359326,1.440000e+12,3.799100e+10,1.216,2.0
13089,Google,GOOGL,10/17/2024,165.729996,166.369995,162.759995,162.929993,162.929993,21339400,2.020000e+12,23.492826,1.038,6.97,18.842924,8.765700e+10,9.549,0.30871,2.079,0.20,0.0049,0.136,buy,200.20,43988500480,0.32363,0.26702,1.897,6.708661,1.930000e+12,2.871900e+10,1.038,0.8
18072,Amazon,AMZN,10/17/2024,188.220001,188.940002,186.000000,187.529999,187.529999,24993600,2.000000e+12,45.496414,1.147,4.18,32.732357,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,buy,218.90,59191001088,0.09915,0.07350,0.840,8.437223,2.040000e+12,1.580000e+11,1.147,NaN
23054,Netflix,NFLX,10/17/2024,704.349976,704.409973,677.880005,687.650024,687.650024,8820000,3.250000e+11,42.824500,NaN,17.67,32.743786,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,buy,718.88,22181484544,0.29614,0.20701,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN

In [76]:
pd.DataFrame(dd[dd.columns[dd.isnull().sum() != 0]].isnull().sum())
pd.DataFrame(dd.loc[dd['Company'] != 'Netflix', dd.columns[dd.isnull().sum() != 0]].isnull().sum()) # Netflix has missing values in Dividends (4982)
pd.DataFrame(dd.loc[dd['Company'] != ('Amazon'), dd.columns[dd.isnull().sum() != 0]].isnull().sum()) # Amazon has missing values in Dividends + Beta (4982)

# Beta	4982
# Dividends Paid	9964
# Dividend Yield	9964
# Beta (5Y)	4982
# Annual Dividend Rate	9964

dd['Company'].value_counts()
# Company
# Apple       4983
# Google      4983
# Amazon      4982
# Netflix     4982
# Facebook    3125
# Name: count, dtype: int64

dd.columns
# Index(['Company', 'Ticker', 'Date', 'Open', 'High', 'Low', 'Close',
#        'Adj Close', 'Volume', 'Market Cap', 'PE Ratio', 'EPS', 'Forward PE',
#        'Net Income', 'Debt to Equity', 'Return on Equity (ROE)',
#        'Current Ratio', 'Quarterly Revenue Growth', 'Analyst Recommendation',
#        'Target Price', 'Free Cash Flow', 'Operating Margin', 'Profit Margin',
#        'Quick Ratio', 'Price to Book Ratio', 'Enterprise Value', 'Total Debt'],
#       dtype='object')

                         0
Beta                  4982
Dividends Paid        4982
Dividend Yield        4982
Beta (5Y)             4982
Annual Dividend Rate  4982

In [73]:
dd['Company'].value_counts()

Company
Apple       4983
Google      4983
Amazon      4982
Netflix     4982
Facebook    3125
Name: count, dtype: int64

In [64]:
dd[dd['Dividends Paid'].isnull()]

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Dividends Paid,Dividend Yield,Quarterly Revenue Growth,Analyst Recommendation,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Beta (5Y),Annual Dividend Rate
13091,Amazon,AMZN,2005-01-03,2.247500,2.272000,2.210500,2.226000,2.226000,208930000,2.000000e+12,45.496414,1.147,4.18,32.732357,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,buy,218.90,59191001088,0.09915,0.07350,0.840,8.437223,2.040000e+12,1.580000e+11,1.147,NaN
13092,Amazon,AMZN,2005-01-04,2.133500,2.163000,2.075000,2.107000,2.107000,388370000,2.000000e+12,45.496414,1.147,4.18,32.732357,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,buy,218.90,59191001088,0.09915,0.07350,0.840,8.437223,2.040000e+12,1.580000e+11,1.147,NaN
13093,Amazon,AMZN,2005-01-05,2.078500,2.138000,2.078000,2.088500,2.088500,167084000,2.000000e+12,45.496414,1.147,4.18,32.732357,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,buy,218.90,59191001088,0.09915,0.07350,0.840,8.437223,2.040000e+12,1.580000e+11,1.147,NaN
13094,Amazon,AMZN,2005-01-06,2.090500,2.112500,2.045000,2.052500,2.052500,174018000,2.000000e+12,45.496414,1.147,4.18,32.732357,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,buy,218.90,59191001088,0.09915,0.07350,0.840,8.437223,2.040000e+12,1.580000e+11,1.147,NaN
13095,Amazon,AMZN,2005-01-07,2.069000,2.134500,2.058000,2.116000,2.116000,196732000,2.000000e+12,45.496414,1.147,4.18,32.732357,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,buy,218.90,59191001088,0.09915,0.07350,0.840,8.437223,2.040000e+12,1.580000e+11,1.147,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23050,Netflix,NFLX,2024-10-11,734.900024,736.000000,721.219971,722.789978,722.789978,2299500,3.250000e+11,42.824500,NaN,17.67,32.743786,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,buy,718.88,22181484544,0.29614,0.20701,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN
23051,Netflix,NFLX,2024-10-14,725.000000,726.619995,711.309998,713.000000,713.000000,2797100,3.250000e+11,42.824500,NaN,17.67,32.743786,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,buy,718.88,22181484544,0.29614,0.20701,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN
23052,Netflix,NFLX,2024-10-15,712.510010,713.400024,699.780029,705.979981,705.979981,2932800,3.250000e+11,42.824500,NaN,17.67,32.743786,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,buy,718.88,22181484544,0.29614,0.20701,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN
23053,Netflix,NFLX,2024-10-16,703.429993,705.590027,697.820007,702.000000,702.000000,2494300,3.250000e+11,42.824500,NaN,17.67,32.743786,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,buy,718.88,22181484544,0.29614,0.20701,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN
23054,Netflix,NFLX,2024-10-17,704.349976,704.409973,677.880005,687.650024,687.650024,8820000,3.250000e+11,42.824500,NaN,17.67,32.743786,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,buy,718.88,22181484544,0.29614,0.20701,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN