In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)  # Shows all columns
pd.set_option('display.width', None)  # Shows full width
pd.set_option('display.max_colwidth', None) # Shows full content of the columns

df = pd.read_csv('FAANG.csv')

In [2]:
display(df[df['Date'].isin(['10/17/2024', '1/3/2005'])])

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Revenue,Gross Profit,Operating Income,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Dividends Paid,Dividend Yield,Quarterly Revenue Growth,Analyst Recommendation,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Cash Ratio,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Total Assets,Total Equity,Beta (5Y),Annual Dividend Rate,Trailing Twelve Months (TTM) Revenue,Trailing Twelve Months (TTM) EBITDA,Trailing Twelve Months (TTM) Earnings
0,Apple,AAPL,1/3/2005,1.156786,1.162679,1.117857,1.130179,0.954409,691992000,3.580000e+12,35.789955,1.239,6.57,31.435830,NaN,NaN,NaN,1.020000e+11,151.862,1.60583,0.953,0.25,0.0043,0.049,buy,240.78,86158123008,0.29556,0.26441,NaN,0.798,53.660430,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0,NaN,NaN,NaN
4981,Apple,AAPL,10/17/2024,233.429993,233.850006,230.520004,232.149994,232.149994,32978900,3.580000e+12,35.789955,1.239,6.57,31.435830,NaN,NaN,NaN,1.020000e+11,151.862,1.60583,0.953,0.25,0.0043,0.049,buy,240.78,86158123008,0.29556,0.26441,NaN,0.798,53.660430,3.570000e+12,1.010000e+11,NaN,NaN,1.239,1.0,NaN,NaN,NaN
8106,Facebook,META,10/17/2024,583.330017,584.969971,575.200012,576.929993,576.929993,8687000,1.470000e+12,29.612986,1.216,19.56,23.738934,NaN,NaN,NaN,5.143400e+10,24.235,0.35375,2.830,0.50,0.0035,0.221,buy,601.58,32011874304,0.38105,0.34339,NaN,2.688,9.359326,1.440000e+12,3.799100e+10,NaN,NaN,1.216,2.0,NaN,NaN,NaN
8108,Google,GOOGL,1/3/2005,4.939940,5.096096,4.891391,5.072823,5.060293,633134232,2.020000e+12,23.492826,1.038,6.97,18.842924,NaN,NaN,NaN,8.765700e+10,9.549,0.30871,2.079,0.20,0.0049,0.136,buy,200.20,43988500480,0.32363,0.26702,NaN,1.897,6.708661,1.930000e+12,2.871900e+10,NaN,NaN,1.038,0.8,NaN,NaN,NaN
13089,Google,GOOGL,10/17/2024,165.729996,166.369995,162.759995,162.929993,162.929993,21339400,2.020000e+12,23.492826,1.038,6.97,18.842924,NaN,NaN,NaN,8.765700e+10,9.549,0.30871,2.079,0.20,0.0049,0.136,buy,200.20,43988500480,0.32363,0.26702,NaN,1.897,6.708661,1.930000e+12,2.871900e+10,NaN,NaN,1.038,0.8,NaN,NaN,NaN
13091,Amazon,AMZN,1/3/2005,2.247500,2.272000,2.210500,2.226000,2.226000,208930000,2.000000e+12,45.496414,1.147,4.18,32.732357,NaN,NaN,NaN,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,buy,218.90,59191001088,0.09915,0.07350,NaN,0.840,8.437223,2.040000e+12,1.580000e+11,NaN,NaN,1.147,NaN,NaN,NaN,NaN
18072,Amazon,AMZN,10/17/2024,188.220001,188.940002,186.000000,187.529999,187.529999,24993600,2.000000e+12,45.496414,1.147,4.18,32.732357,NaN,NaN,NaN,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,buy,218.90,59191001088,0.09915,0.07350,NaN,0.840,8.437223,2.040000e+12,1.580000e+11,NaN,NaN,1.147,NaN,NaN,NaN,NaN
18073,Netflix,NFLX,1/3/2005,1.800000,1.800000,1.645714,1.702857,1.702857,11334400,3.250000e+11,42.824500,NaN,17.67,32.743786,NaN,NaN,NaN,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,buy,718.88,22181484544,0.29614,0.20701,NaN,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23054,Netflix,NFLX,10/17/2024,704.349976,704.409973,677.880005,687.650024,687.650024,8820000,3.250000e+11,42.824500,NaN,17.67,32.743786,NaN,NaN,NaN,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,buy,718.88,22181484544,0.29614,0.20701,NaN,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.columns

Index(['Company', 'Ticker', 'Date', 'Open', 'High', 'Low', 'Close',
       'Adj Close', 'Volume', 'Market Cap', 'PE Ratio', 'Beta', 'EPS',
       'Forward PE', 'Revenue', 'Gross Profit', 'Operating Income',
       'Net Income', 'Debt to Equity', 'Return on Equity (ROE)',
       'Current Ratio', 'Dividends Paid', 'Dividend Yield',
       'Quarterly Revenue Growth', 'Analyst Recommendation', 'Target Price',
       'Free Cash Flow', 'Operating Margin', 'Profit Margin', 'Cash Ratio',
       'Quick Ratio', 'Price to Book Ratio', 'Enterprise Value', 'Total Debt',
       'Total Assets', 'Total Equity', 'Beta (5Y)', 'Annual Dividend Rate',
       'Trailing Twelve Months (TTM) Revenue',
       'Trailing Twelve Months (TTM) EBITDA',
       'Trailing Twelve Months (TTM) Earnings'],
      dtype='object')

In [3]:
pd.DataFrame(df[df.columns[df.isnull().sum() != 0]].isnull().sum())

                                           0
Beta                                    4982
Revenue                                23055
Gross Profit                           23055
Operating Income                       23055
Dividends Paid                          9964
Dividend Yield                          9964
Cash Ratio                             23055
Total Assets                           23055
Total Equity                           23055
Beta (5Y)                               4982
Annual Dividend Rate                    9964
Trailing Twelve Months (TTM) Revenue   23055
Trailing Twelve Months (TTM) EBITDA    23055
Trailing Twelve Months (TTM) Earnings  23055

In [4]:
df['Analyst Recommendation'].value_counts()

Analyst Recommendation
buy    23055
Name: count, dtype: int64

In [5]:
dd =df.dropna(axis=1, thresh=int(df.shape[0] * 0.5))  # Keep columns with at least 50% data

In [6]:
dd = dd.drop(columns=['Analyst Recommendation'])

In [7]:
df.shape

(23055, 41)

In [8]:
dd.shape # 9 columns were dropped

(23055, 31)

In [9]:
pd.DataFrame(df.columns.difference(dd.columns))

                                       0
0                 Analyst Recommendation
1                             Cash Ratio
2                           Gross Profit
3                       Operating Income
4                                Revenue
5                           Total Assets
6                           Total Equity
7    Trailing Twelve Months (TTM) EBITDA
8  Trailing Twelve Months (TTM) Earnings
9   Trailing Twelve Months (TTM) Revenue

In [10]:
display(dd[dd['Date'].isin(['10/17/2024', '1/3/2005'])])

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Dividends Paid,Dividend Yield,Quarterly Revenue Growth,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Beta (5Y),Annual Dividend Rate
0,Apple,AAPL,1/3/2005,1.156786,1.162679,1.117857,1.130179,0.954409,691992000,3.580000e+12,35.789955,1.239,6.57,31.435830,1.020000e+11,151.862,1.60583,0.953,0.25,0.0043,0.049,240.78,86158123008,0.29556,0.26441,0.798,53.660430,3.570000e+12,1.010000e+11,1.239,1.0
4981,Apple,AAPL,10/17/2024,233.429993,233.850006,230.520004,232.149994,232.149994,32978900,3.580000e+12,35.789955,1.239,6.57,31.435830,1.020000e+11,151.862,1.60583,0.953,0.25,0.0043,0.049,240.78,86158123008,0.29556,0.26441,0.798,53.660430,3.570000e+12,1.010000e+11,1.239,1.0
8106,Facebook,META,10/17/2024,583.330017,584.969971,575.200012,576.929993,576.929993,8687000,1.470000e+12,29.612986,1.216,19.56,23.738934,5.143400e+10,24.235,0.35375,2.830,0.50,0.0035,0.221,601.58,32011874304,0.38105,0.34339,2.688,9.359326,1.440000e+12,3.799100e+10,1.216,2.0
8108,Google,GOOGL,1/3/2005,4.939940,5.096096,4.891391,5.072823,5.060293,633134232,2.020000e+12,23.492826,1.038,6.97,18.842924,8.765700e+10,9.549,0.30871,2.079,0.20,0.0049,0.136,200.20,43988500480,0.32363,0.26702,1.897,6.708661,1.930000e+12,2.871900e+10,1.038,0.8
13089,Google,GOOGL,10/17/2024,165.729996,166.369995,162.759995,162.929993,162.929993,21339400,2.020000e+12,23.492826,1.038,6.97,18.842924,8.765700e+10,9.549,0.30871,2.079,0.20,0.0049,0.136,200.20,43988500480,0.32363,0.26702,1.897,6.708661,1.930000e+12,2.871900e+10,1.038,0.8
13091,Amazon,AMZN,1/3/2005,2.247500,2.272000,2.210500,2.226000,2.226000,208930000,2.000000e+12,45.496414,1.147,4.18,32.732357,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,218.90,59191001088,0.09915,0.07350,0.840,8.437223,2.040000e+12,1.580000e+11,1.147,NaN
18072,Amazon,AMZN,10/17/2024,188.220001,188.940002,186.000000,187.529999,187.529999,24993600,2.000000e+12,45.496414,1.147,4.18,32.732357,4.441900e+10,66.756,0.21933,1.096,NaN,NaN,0.101,218.90,59191001088,0.09915,0.07350,0.840,8.437223,2.040000e+12,1.580000e+11,1.147,NaN
18073,Netflix,NFLX,1/3/2005,1.800000,1.800000,1.645714,1.702857,1.702857,11334400,3.250000e+11,42.824500,NaN,17.67,32.743786,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,718.88,22181484544,0.29614,0.20701,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN
23054,Netflix,NFLX,10/17/2024,704.349976,704.409973,677.880005,687.650024,687.650024,8820000,3.250000e+11,42.824500,NaN,17.67,32.743786,7.780862e+09,70.338,0.34714,1.133,NaN,NaN,0.150,718.88,22181484544,0.29614,0.20701,0.861,14.262457,3.010000e+11,1.598133e+10,NaN,NaN

**Note:**
Amazon and Netflix Historically, not paying dividends, focusing instead on reinvestment.

In [81]:
pd.DataFrame(dd[dd.columns[dd.isnull().sum() != 0]].isnull().sum())
pd.DataFrame(dd.loc[dd['Company'] != 'Netflix', dd.columns[dd.isnull().sum() != 0]].isnull().sum()) # Netflix has missing values in Dividends (4982)
pd.DataFrame(dd.loc[dd['Company'] != ('Amazon'), dd.columns[dd.isnull().sum() != 0]].isnull().sum()) # Amazon has missing values in Dividends + Beta (4982)

                         0
Beta                  4982
Dividends Paid        4982
Dividend Yield        4982
Beta (5Y)             4982
Annual Dividend Rate  4982

In [82]:
dd['Company'].value_counts() # facebook mised data count 1857

Company
Apple       4983
Google      4983
Amazon      4982
Netflix     4982
Facebook    3125
Name: count, dtype: int64

In [83]:
# Replace missing dividends with 0 for Amazon and Netflix
dd.loc[dd['Company'].isin(['Amazon', 'Netflix']), 'Dividends Paid'] = 0
dd.loc[dd['Company'].isin(['Amazon', 'Netflix']), 'Dividend Yield'] = 0
dd.loc[dd['Company'].isin(['Amazon', 'Netflix']), 'Annual Dividend Rate'] = 0

In [84]:
pd.DataFrame(dd[dd.columns[dd.isnull().sum() != 0]].isnull().sum()) # From Netflix 
# pd.DataFrame(dd.loc[dd.isnull().any(axis=1), 'Company'])

              0
Beta       4982
Beta (5Y)  4982

In [85]:
# Standarding open, high, low, close, adj close, volume

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

Columns = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
dd[Columns] = scaler.fit_transform(dd[Columns])

In [86]:
display(df.describe())
display(dd.describe())

,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Revenue,Gross Profit,Operating Income,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Dividends Paid,Dividend Yield,Quarterly Revenue Growth,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Cash Ratio,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Total Assets,Total Equity,Beta (5Y),Annual Dividend Rate,Trailing Twelve Months (TTM) Revenue,Trailing Twelve Months (TTM) EBITDA,Trailing Twelve Months (TTM) Earnings
count,23055.000000,23055.000000,23055.000000,23055.000000,23055.000000,2.305500e+04,2.305500e+04,23055.000000,18073.000000,23055.00000,23055.000000,0.0,0.0,0.0,2.305500e+04,23055.000000,23055.000000,23055.000000,13091.000000,13091.000000,23055.000000,23055.000000,2.305500e+04,23055.000000,23055.000000,0.0,23055.000000,23055.000000,2.305500e+04,2.305500e+04,0.0,0.0,18073.000000,13091.000000,0.0,0.0,0.0
mean,93.647661,94.863101,92.420934,93.672274,93.206572,1.384445e+08,1.912023e+12,35.912447,1.154244,10.29935,28.233587,NaN,NaN,NaN,5.924319e+10,67.796473,0.584159,1.520585,0.290646,0.004337,0.124180,379.499493,5.005229e+10,0.270897,0.222022,NaN,1.314403,19.221725,1.889801e+12,7.078233e+10,NaN,NaN,1.154244,1.162585,NaN,NaN,NaN
std,126.060231,127.749769,124.330704,126.069016,126.123574,2.430001e+08,1.084576e+12,8.300362,0.079878,6.07117,5.725820,NaN,NaN,NaN,3.460809e+10,50.196399,0.538622,0.663976,0.119248,0.000537,0.052751,219.675734,2.279798e+10,0.094283,0.087398,NaN,0.692689,18.271000,1.090111e+12,5.493995e+10,NaN,NaN,0.079878,0.476994,NaN,NaN,NaN
min,1.139107,1.159107,1.117857,1.130179,0.954409,1.144000e+06,3.250000e+11,23.492826,1.038000,4.18000,18.842924,NaN,NaN,NaN,7.780862e+09,9.549000,0.219330,0.953000,0.200000,0.003500,0.049000,200.200000,2.218148e+10,0.099150,0.073500,NaN,0.798000,6.708661,3.010000e+11,1.598133e+10,NaN,NaN,1.038000,0.800000,NaN,NaN,NaN
25%,11.728979,11.864486,11.587829,11.720929,11.366614,2.131500e+07,1.470000e+12,29.612986,1.038000,6.57000,23.738934,NaN,NaN,NaN,4.441900e+10,24.235000,0.308710,1.096000,0.200000,0.004300,0.101000,218.900000,3.201187e+10,0.295560,0.207010,NaN,0.840000,8.437223,1.440000e+12,2.871900e+10,NaN,NaN,1.038000,0.800000,NaN,NaN,NaN
50%,38.584999,38.983002,38.297501,38.598499,38.050781,5.576380e+07,2.000000e+12,35.789955,1.147000,6.97000,31.435830,NaN,NaN,NaN,5.143400e+10,66.756000,0.347140,1.133000,0.250000,0.004300,0.136000,240.780000,4.398850e+10,0.296140,0.264410,NaN,0.861000,9.359326,1.930000e+12,3.799100e+10,NaN,NaN,1.147000,1.000000,NaN,NaN,NaN
75%,134.849998,136.550003,133.449997,134.970001,134.173950,1.302896e+08,2.020000e+12,42.824500,1.239000,17.67000,32.732357,NaN,NaN,NaN,8.765700e+10,70.338000,0.353750,2.079000,0.250000,0.004900,0.150000,601.580000,5.919100e+10,0.323630,0.267020,NaN,1.897000,14.262457,2.040000e+12,1.010000e+11,NaN,NaN,1.239000,1.000000,NaN,NaN,NaN
max,734.900024,736.000000,722.500000,730.289978,730.289978,3.372970e+09,3.580000e+12,45.496414,1.239000,19.56000,32.743786,NaN,NaN,NaN,1.020000e+11,151.862000,1.605830,2.830000,0.500000,0.004900,0.221000,718.880000,8.615812e+10,0.381050,0.343390,NaN,2.688000,53.660430,3.570000e+12,1.580000e+11,NaN,NaN,1.239000,2.000000,NaN,NaN,NaN

,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Dividends Paid,Dividend Yield,Quarterly Revenue Growth,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Beta (5Y),Annual Dividend Rate
count,23055,2.305500e+04,2.305500e+04,2.305500e+04,2.305500e+04,2.305500e+04,2.305500e+04,2.305500e+04,23055.000000,18073.000000,23055.00000,23055.000000,2.305500e+04,23055.000000,23055.000000,23055.000000,23055.000000,23055.000000,23055.000000,23055.000000,2.305500e+04,23055.000000,23055.000000,23055.000000,23055.000000,2.305500e+04,2.305500e+04,18073.000000,23055.000000
mean,2015-05-26 16:14:03.201041152,-9.862228e-17,1.577957e-16,1.972446e-17,5.917337e-17,9.862228e-17,-3.944891e-17,1.912023e+12,35.912447,1.154244,10.29935,28.233587,5.924319e+10,67.796473,0.584159,1.520585,0.165034,0.002463,0.124180,379.499493,5.005229e+10,0.270897,0.222022,1.314403,19.221725,1.889801e+12,7.078233e+10,1.154244,0.660134
min,2005-01-03 00:00:00,-7.338600e-01,-7.335123e-01,-7.343726e-01,-7.340749e-01,-7.314585e-01,-5.650349e-01,3.250000e+11,23.492826,1.038000,4.18000,18.842924,7.780862e+09,9.549000,0.219330,0.953000,0.000000,0.000000,0.049000,200.200000,2.218148e+10,0.099150,0.073500,0.798000,6.708661,3.010000e+11,1.598133e+10,1.038000,0.000000
25%,2010-09-22 12:00:00,-6.498517e-01,-6.497109e-01,-6.501601e-01,-6.500655e-01,-6.489012e-01,-4.820249e-01,1.470000e+12,29.612986,1.038000,6.57000,23.738934,4.441900e+10,24.235000,0.308710,1.096000,0.000000,0.000000,0.101000,218.900000,3.201187e+10,0.295560,0.207010,0.840000,8.437223,1.440000e+12,2.871900e+10,1.038000,0.000000
50%,2015-08-21 00:00:00,-4.368059e-01,-4.374279e-01,-4.353278e-01,-4.368636e-01,-4.373250e-01,-3.402573e-01,2.000000e+12,35.789955,1.147000,6.97000,31.435830,5.143400e+10,66.756000,0.347140,1.133000,0.200000,0.003500,0.136000,240.780000,4.398850e+10,0.296140,0.264410,0.861000,9.359326,1.930000e+12,3.799100e+10,1.147000,0.800000
75%,2020-03-20 00:00:00,3.268535e-01,3.263239e-01,3.300066e-01,3.275874e-01,3.248264e-01,-3.356016e-02,2.020000e+12,42.824500,1.239000,17.67000,32.732357,8.765700e+10,70.338000,0.353750,2.079000,0.250000,0.004300,0.150000,601.580000,5.919100e+10,0.323630,0.267020,1.897000,14.262457,2.040000e+12,1.010000e+11,1.239000,1.000000
max,2024-10-18 00:00:00,5.086983e+00,5.018802e+00,5.067877e+00,5.049865e+00,5.051373e+00,1.331109e+01,3.580000e+12,45.496414,1.239000,19.56000,32.743786,1.020000e+11,151.862000,1.605830,2.830000,0.500000,0.004900,0.221000,718.880000,8.615812e+10,0.381050,0.343390,2.688000,53.660430,3.570000e+12,1.580000e+11,1.239000,2.000000
std,NaN,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.084576e+12,8.300362,0.079878,6.07117,5.725820,3.460809e+10,50.196399,0.538622,0.663976,0.169721,0.002186,0.052751,219.675734,2.279798e+10,0.094283,0.087398,0.692689,18.271000,1.090111e+12,5.493995e+10,0.079878,0.678886

**Purpose:** Outliers can affect the performance of machine learning models, especially regression models.

In [87]:
# Dedecting outliers using Z-score
import numpy as np
from scipy import stats

# Z-score method to detect outliers
z_scores = stats.zscore(dd[Columns])
abs_z_scores = np.abs(z_scores)
dd_no_outliers = dd[(abs_z_scores < 3).all(axis=1)]  # Keep rows where Z-score < 3

**Date Format**

In [88]:
dd['Date'] = pd.to_datetime(dd['Date'])

# Exploratory Data Analysis (EDA)

In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
dd.describe()

,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Dividends Paid,Dividend Yield,Quarterly Revenue Growth,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Beta (5Y),Annual Dividend Rate
count,23055,2.305500e+04,2.305500e+04,2.305500e+04,2.305500e+04,2.305500e+04,2.305500e+04,2.305500e+04,23055.000000,18073.000000,23055.00000,23055.000000,2.305500e+04,23055.000000,23055.000000,23055.000000,23055.000000,23055.000000,23055.000000,23055.000000,2.305500e+04,23055.000000,23055.000000,23055.000000,23055.000000,2.305500e+04,2.305500e+04,18073.000000,23055.000000
mean,2015-05-26 16:14:03.201041152,-9.862228e-17,1.577957e-16,1.972446e-17,5.917337e-17,9.862228e-17,-3.944891e-17,1.912023e+12,35.912447,1.154244,10.29935,28.233587,5.924319e+10,67.796473,0.584159,1.520585,0.165034,0.002463,0.124180,379.499493,5.005229e+10,0.270897,0.222022,1.314403,19.221725,1.889801e+12,7.078233e+10,1.154244,0.660134
min,2005-01-03 00:00:00,-7.338600e-01,-7.335123e-01,-7.343726e-01,-7.340749e-01,-7.314585e-01,-5.650349e-01,3.250000e+11,23.492826,1.038000,4.18000,18.842924,7.780862e+09,9.549000,0.219330,0.953000,0.000000,0.000000,0.049000,200.200000,2.218148e+10,0.099150,0.073500,0.798000,6.708661,3.010000e+11,1.598133e+10,1.038000,0.000000
25%,2010-09-22 12:00:00,-6.498517e-01,-6.497109e-01,-6.501601e-01,-6.500655e-01,-6.489012e-01,-4.820249e-01,1.470000e+12,29.612986,1.038000,6.57000,23.738934,4.441900e+10,24.235000,0.308710,1.096000,0.000000,0.000000,0.101000,218.900000,3.201187e+10,0.295560,0.207010,0.840000,8.437223,1.440000e+12,2.871900e+10,1.038000,0.000000
50%,2015-08-21 00:00:00,-4.368059e-01,-4.374279e-01,-4.353278e-01,-4.368636e-01,-4.373250e-01,-3.402573e-01,2.000000e+12,35.789955,1.147000,6.97000,31.435830,5.143400e+10,66.756000,0.347140,1.133000,0.200000,0.003500,0.136000,240.780000,4.398850e+10,0.296140,0.264410,0.861000,9.359326,1.930000e+12,3.799100e+10,1.147000,0.800000
75%,2020-03-20 00:00:00,3.268535e-01,3.263239e-01,3.300066e-01,3.275874e-01,3.248264e-01,-3.356016e-02,2.020000e+12,42.824500,1.239000,17.67000,32.732357,8.765700e+10,70.338000,0.353750,2.079000,0.250000,0.004300,0.150000,601.580000,5.919100e+10,0.323630,0.267020,1.897000,14.262457,2.040000e+12,1.010000e+11,1.239000,1.000000
max,2024-10-18 00:00:00,5.086983e+00,5.018802e+00,5.067877e+00,5.049865e+00,5.051373e+00,1.331109e+01,3.580000e+12,45.496414,1.239000,19.56000,32.743786,1.020000e+11,151.862000,1.605830,2.830000,0.500000,0.004900,0.221000,718.880000,8.615812e+10,0.381050,0.343390,2.688000,53.660430,3.570000e+12,1.580000e+11,1.239000,2.000000
std,NaN,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.084576e+12,8.300362,0.079878,6.07117,5.725820,3.460809e+10,50.196399,0.538622,0.663976,0.169721,0.002186,0.052751,219.675734,2.279798e+10,0.094283,0.087398,0.692689,18.271000,1.090111e+12,5.493995e+10,0.079878,0.678886

In [94]:
# dd.columns[dd.isnull().sum() != 0]
dd.isnull().sum()

Company                        0
Ticker                         0
Date                           0
Open                           0
High                           0
Low                            0
Close                          0
Adj Close                      0
Volume                         0
Market Cap                     0
PE Ratio                       0
Beta                        4982
EPS                            0
Forward PE                     0
Net Income                     0
Debt to Equity                 0
Return on Equity (ROE)         0
Current Ratio                  0
Dividends Paid                 0
Dividend Yield                 0
Quarterly Revenue Growth       0
Target Price                   0
Free Cash Flow                 0
Operating Margin               0
Profit Margin                  0
Quick Ratio                    0
Price to Book Ratio            0
Enterprise Value               0
Total Debt                     0
Beta (5Y)                   4982
Annual Dividend Rate           0
dtype: int64