<div align="center">
   <h3><strong>Facebook Dataset
   </strong></h3>
</div>

# **As per Document;**

**Business Use Cases**  
- **Financial Advisory**: Assist investors in making informed decisions.  
- **Portfolio Analysis**: Show stock performance trends.  
- **Trading Strategies**: Help day traders predict short-term price movements.

## 1. **Data Cleaning**

### **Obtain the Dataset:**

In [21]:
import pandas as pd
pd.set_option('display.max_columns', None)  # Shows all columns
pd.set_option('display.width', None)  # Shows full width
pd.set_option('display.max_colwidth', None) # Shows full content of the columns

df = pd.read_csv(r'C:\Users\Windows 11\OneDrive\Desktop\F A A N G\FAANG_CSV\facebook_data.csv')

In [22]:
df.head()

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,PE Ratio,Beta,EPS,Forward PE,Revenue,Gross Profit,Operating Income,Net Income,Debt to Equity,Return on Equity (ROE),Current Ratio,Dividends Paid,Dividend Yield,Quarterly Revenue Growth,Analyst Recommendation,Target Price,Free Cash Flow,Operating Margin,Profit Margin,Cash Ratio,Quick Ratio,Price to Book Ratio,Enterprise Value,Total Debt,Total Assets,Total Equity,Beta (5Y),Annual Dividend Rate,Trailing Twelve Months (TTM) Revenue,Trailing Twelve Months (TTM) EBITDA,Trailing Twelve Months (TTM) Earnings
0,Facebook,META,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.115242,573576400,1465350000000,29.612986,1.216,19.56,23.738934,NaN,NaN,NaN,51434000384,24.235,0.35375,2.83,0.5,0.0035,0.221,buy,601.58,32011874304,0.38105,0.34339,NaN,2.688,9.359326,1439440000000,37990998016,NaN,NaN,1.216,2.0,NaN,NaN,NaN
1,Facebook,META,2012-05-21,36.529999,36.660000,33.000000,34.029999,33.927845,168192700,1465350000000,29.612986,1.216,19.56,23.738934,NaN,NaN,NaN,51434000384,24.235,0.35375,2.83,0.5,0.0035,0.221,buy,601.58,32011874304,0.38105,0.34339,NaN,2.688,9.359326,1439440000000,37990998016,NaN,NaN,1.216,2.0,NaN,NaN,NaN
2,Facebook,META,2012-05-22,32.610001,33.590000,30.940001,31.000000,30.906942,101786600,1465350000000,29.612986,1.216,19.56,23.738934,NaN,NaN,NaN,51434000384,24.235,0.35375,2.83,0.5,0.0035,0.221,buy,601.58,32011874304,0.38105,0.34339,NaN,2.688,9.359326,1439440000000,37990998016,NaN,NaN,1.216,2.0,NaN,NaN,NaN
3,Facebook,META,2012-05-23,31.370001,32.500000,31.360001,32.000000,31.903942,73600000,1465350000000,29.612986,1.216,19.56,23.738934,NaN,NaN,NaN,51434000384,24.235,0.35375,2.83,0.5,0.0035,0.221,buy,601.58,32011874304,0.38105,0.34339,NaN,2.688,9.359326,1439440000000,37990998016,NaN,NaN,1.216,2.0,NaN,NaN,NaN
4,Facebook,META,2012-05-24,32.950001,33.209999,31.770000,33.029999,32.930851,50237200,1465350000000,29.612986,1.216,19.56,23.738934,NaN,NaN,NaN,51434000384,24.235,0.35375,2.83,0.5,0.0035,0.221,buy,601.58,32011874304,0.38105,0.34339,NaN,2.688,9.359326,1439440000000,37990998016,NaN,NaN,1.216,2.0,NaN,NaN,NaN

In [4]:
dd= df.copy()
cols = ['Company', 'Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
dd = df[cols]

In [5]:
dd.head()

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,Facebook,META,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.115242,573576400
1,Facebook,META,2012-05-21,36.529999,36.660000,33.000000,34.029999,33.927845,168192700
2,Facebook,META,2012-05-22,32.610001,33.590000,30.940001,31.000000,30.906942,101786600
3,Facebook,META,2012-05-23,31.370001,32.500000,31.360001,32.000000,31.903942,73600000
4,Facebook,META,2012-05-24,32.950001,33.209999,31.770000,33.029999,32.930851,50237200

In [7]:
# dd.Date = pd.to_datetime(dd.Date, format= '%d-%m-%Y')
dd.Date = pd.to_datetime(dd.Date)
dd['Date'] = dd['Date'].dt.strftime('%d-%m-%Y')

C:\Users\Windows 11\AppData\Local\Temp\ipykernel_6540\1746919928.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd.Date = pd.to_datetime(dd.Date)
C:\Users\Windows 11\AppData\Local\Temp\ipykernel_6540\1746919928.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['Date'] = dd['Date'].dt.strftime('%d-%m-%Y')

### *Remove Outliers:**
- **IQR Method:** We'll calculate the IQR for the Close price and Volume columns, and filter out values that are below the 25th percentile minus 1.5 times the IQR, or above the 75th percentile plus 1.5 times the IQR.

- **Z-score Method:** We'll compute the Z-scores for the Close price and Volume columns. Any value with a Z-score greater than 3 or less than -3 will be considered an outlier.

**IQR** and **Z-score** methods might not be ideal because stock prices can *fluctuate greatly* due to **market events**, and outliers in stock data are often justifiable as extreme market behavior.

In [8]:
dr = dd

In [9]:
import numpy as np
from scipy import stats

def remove_outliers_iqr(dr, column):
    Q1 = dr[column].quantile(0.25)
    Q3 = dr[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return dr[(dr[column] >= lower_bound) & (dr[column] <= upper_bound)]

def remove_outliers_zscore(dr, column):
    z_scores = np.abs(stats.zscore(dr[column]))
    return dr[z_scores < 3]

dr_iqr_cleaned = remove_outliers_iqr(dr, 'Close')
dr_iqr_cleaned = remove_outliers_iqr(dr_iqr_cleaned, 'Volume')

dr_zscore_cleaned = remove_outliers_zscore(dr, 'Close')
dr_zscore_cleaned = remove_outliers_zscore(dr_zscore_cleaned, 'Volume')

In [14]:
print(f'Actual facebook dataset: {df.shape}')
print(f'Datas that needed: {dd.shape}')
print(f'Datas after cleaned by IQR: {dr_iqr_cleaned.shape}')
print(f'Datas after cleaned by Z-score: {dr_zscore_cleaned.shape}')

Actual facebook dataset: (3125, 41)
Datas that needed: (3125, 9)
Datas after cleaned by IQR: (2716, 9)
Datas after cleaned by Z-score: (3057, 9)

In [16]:
print('display(dd.head())')
display(dd.head())
print('dd.tail()')
dd.tail()

display(dd.head())

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,Facebook,META,18-05-2012,42.049999,45.000000,38.000000,38.230000,38.115242,573576400
1,Facebook,META,21-05-2012,36.529999,36.660000,33.000000,34.029999,33.927845,168192700
2,Facebook,META,22-05-2012,32.610001,33.590000,30.940001,31.000000,30.906942,101786600
3,Facebook,META,23-05-2012,31.370001,32.500000,31.360001,32.000000,31.903942,73600000
4,Facebook,META,24-05-2012,32.950001,33.209999,31.770000,33.029999,32.930851,50237200

dd.tail()

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
3120,Facebook,META,14-10-2024,594.219971,600.099976,589.960022,590.419983,590.419983,8252000
3121,Facebook,META,15-10-2024,590.159973,590.609985,580.140015,586.270019,586.270019,9564200
3122,Facebook,META,16-10-2024,581.400024,582.080017,574.030029,576.789978,576.789978,11268400
3123,Facebook,META,17-10-2024,583.330017,584.969971,575.200012,576.929993,576.929993,8687000
3124,Facebook,META,18-10-2024,580.799988,583.967529,577.859985,579.229981,579.229981,3735235

In [17]:
import pandas as pd
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar

date_to_check = "2024-10-18"
date_obj = pd.to_datetime(date_to_check)

calendar = USFederalHolidayCalendar()
holidays = calendar.holidays(start=date_obj - pd.Timedelta(days=365), end=date_obj + pd.Timedelta(days=365))

is_holiday = date_obj in holidays
weekday = date_obj.weekday()

weekday_name = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'][weekday]
is_holiday, weekday_name

(False, 'Friday')

In [ ]:
<div align="center">
   <h3><strong>Facebook Dataset
   </strong></h3>
</div>
# **As per Document;**
**Business Use Cases**  
- **Financial Advisory**: Assist investors in making informed decisions.  
- **Portfolio Analysis**: Show stock performance trends.  
- **Trading Strategies**: Help day traders predict short-term price movements.
## 1. **Data Cleaning**
### **Obtain the Dataset:**
import pandas as pd
pd.set_option('display.max_columns', None)  # Shows all columns
pd.set_option('display.width', None)  # Shows full width
pd.set_option('display.max_colwidth', None) # Shows full content of the columns

df = pd.read_csv(r'C:\Users\Windows 11\OneDrive\Desktop\F A A N G\FAANG_CSV\facebook_data.csv')
df.head()
dd= df.copy()
cols = ['Company', 'Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
dd = df[cols]
dd.head()
# dd.Date = pd.to_datetime(dd.Date, format= '%d-%m-%Y')
dd.Date = pd.to_datetime(dd.Date)
dd['Date'] = dd['Date'].dt.strftime('%d-%m-%Y')
### *Remove Outliers:**
- **IQR Method:** We'll calculate the IQR for the Close price and Volume columns, and filter out values that are below the 25th percentile minus 1.5 times the IQR, or above the 75th percentile plus 1.5 times the IQR.

- **Z-score Method:** We'll compute the Z-scores for the Close price and Volume columns. Any value with a Z-score greater than 3 or less than -3 will be considered an outlier.

**IQR** and **Z-score** methods might not be ideal because stock prices can *fluctuate greatly* due to **market events**, and outliers in stock data are often justifiable as extreme market behavior.
dr = dd
import numpy as np
from scipy import stats

def remove_outliers_iqr(dr, column):
    Q1 = dr[column].quantile(0.25)
    Q3 = dr[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return dr[(dr[column] >= lower_bound) & (dr[column] <= upper_bound)]

def remove_outliers_zscore(dr, column):
    z_scores = np.abs(stats.zscore(dr[column]))
    return dr[z_scores < 3]

dr_iqr_cleaned = remove_outliers_iqr(dr, 'Close')
dr_iqr_cleaned = remove_outliers_iqr(dr_iqr_cleaned, 'Volume')

dr_zscore_cleaned = remove_outliers_zscore(dr, 'Close')
dr_zscore_cleaned = remove_outliers_zscore(dr_zscore_cleaned, 'Volume')


print(f'Actual facebook dataset: {df.shape}')
print(f'Datas that needed: {dd.shape}')
print(f'Datas after cleaned by IQR: {dr_iqr_cleaned.shape}')
print(f'Datas after cleaned by Z-score: {dr_zscore_cleaned.shape}')
print('display(dd.head())')
display(dd.head())
print('dd.tail()')
dd.tail()
import pandas as pd
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar

date_to_check = "2024-10-18"
date_obj = pd.to_datetime(date_to_check)

calendar = USFederalHolidayCalendar()
holidays = calendar.holidays(start=date_obj - pd.Timedelta(days=365), end=date_obj + pd.Timedelta(days=365))

is_holiday = date_obj in holidays
weekday = date_obj.weekday()

weekday_name = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'][weekday]
is_holiday, weekday_name